# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
*.sqlite3

# Django
backend/media/
backend/staticfiles/
backend/db.sqlite3

# Node
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Env
.env
.env.local
